@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: var(--dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    margin-top: 5rem;
}

.cardText {
    text-align: left;
    color: var(--white);
}

p {
    color: var(--light-grey);
    font-size: 12px;
}

.icon {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: var(--dark-blue);
    border-radius: 50%;
}

.card {
    margin-top: 5rem;
    background: var(--very-dark-blue);
    margin: 0 auto;
    max-width: 18rem;
    border-radius: 20px;
    padding: 0.8rem;
}

.scoresBtns {
    display: flex;
    padding: 0.8rem;
    text-decoration: none;
    justify-content: space-between;
}

.submitBtn {
    color: var(--white);
    background: var(--orange);
    border-radius: 20px;
    width: 95%;
    margin: 0 0.5rem;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    padding: .5rem;
    text-transform: uppercase;
}

.submitBtn:hover {
    background: var(--white);
    color: var(--orange);
}

input[type="radio"]+p {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    background-color: var(--dark-blue);
    font-size: 15px;
    color: var(--white);
    text-align: center;
}

input[type="radio"]+p:hover {
    background-color: var(--medium-grey);
    cursor: pointer;
}

input[type="radio"]:checked+p {
    background-color: var(--orange);
}

input[type="radio"] {
    display: none;
}

h2 {
    color: var(--white);
}

#selection {
    color: var(--orange);
    background-color: var(--very-dark-blue);
    border-radius: 10px;
}

.card_thankYou {
    background-color: var(--very-dark-blue);
    width: 330px;
    height: 360px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    margin: 0 auto;
}

.card_thankYou p {
    color: var(--light-grey);
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
}

.hidden {
    display: none;
}